{% extends "blog/base.html" %}
{% block content %}
    <h1 class="text-light">About Page</h1>
    <div class="media-body text-light">
        Hey everyone! This web application has been developed by 
        Sarthak Saxena. I am a 2nd year engineering student at NIT, Jalandhar, India. You can find my GitHub link 
        over <a href="https://github.com/sarthak1905">here</a>. I am an enthusiastic learner and developer, hoping to 
        contribute to the community in whatever way I can.
    </div>
    <div class="media-body text-light">
        This web app has been made entirely on the Django framework for python.
    </div>
{% endblock content %}