{% extends "blog/base.html" %}
{% block content %}
    <h1 class="text-light">About Page</h1>
    <div class="media-body text-light">
        Hey everyone! This web application has been developed by 
        Sarthak Saxena. I am a 2nd year engineering student at NIT, Jalandhar, India. You can find my GitHub link 
        over <a href="https://github.com/sarthak1905">here</a>. I am an enthusiastic learner and developer, hoping to 
        contribute to the community in whatever way I can.<br><br>
        This web app has been made entirely on the Django framework for python which manages the databases,
        dynamic pages, form validations, etc. I am the sole developer of this project. You can find the repo for 
        this project over <a href="https://github.com/sarthak1905/BlogCity">here</a>.<br><br>
        There are several features on the app:
        <ul>
            <li>User Registration, Login with data validation</li>
            <li>Posting, editing and deleting the blogs you have authored</li>
            <li>Looking at all the blog posts by a particular author</li>
            <li>Uploading a profile picture</li>
            <li>Editing your details(email, username, profile picture)</li>
            <li>Password reset via email</li>
            <li>Logging out</li>
            <li>Logging in to the admin server(if you have the access, that is :P)</li>
        </ul><br>
        ...and several more on the way. This app is currently under development and will be updated every week
        with tons of exciting features.<br><br>
        If you wish to collaborate with me, feel free to contact me!<br><br><br>
    </div>
{% endblock content %}