{% extends "blog/base.html" %}
{% block content %}
    <div class="container p-4 text-dark bg-white rounded" data-aos="fade-down" data-aos-duration="1500">
        <h1 class="display-4">Welcome to BlogCity! Register today to get your account going within 5 minutes.</h1>
        <br><br>
        <span class="mb-4 mr-2"><a href="{% url 'register'%}" class="btn-lg btn-info m-2 text-light">Register now</a></span>
        <span class="mb-4 mr-2"><a href="{% url 'login'%}" class="btn-lg btn-info m-2 text-light">Login</a></span>
        <span class="mb-4 mr-2"><a href="{% url 'blog-home' %}" class="btn-lg btn-secondary m-2 text-light">View public blogs</a></span>
    </div>
{% endblock content %}